apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ DEPLOY_NAME }}
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: {{ DEPLOY_NAME }}
  template:
    metadata:
      labels:
        name: {{ DEPLOY_NAME }}
    spec:
      serviceAccountName: {{ svcAcct }}
      containers:
        - name: ansible
          command:
          - /usr/local/bin/ao-logs
          - /tmp/ansible-operator/runner
          - stdout
          # Replace this with the built image name
          image: {{ IMAGE_REGISTRY }}/{{ IMAGE }}:{{ IMAGE_TAG }}
          imagePullPolicy: "Always"
          volumeMounts:
          - mountPath: /tmp/ansible-operator/runner
            name: runner
            readOnly: true
#            - mountPath: /tmp/ansible-operator/
#              name: artifactory-secret
#              readOnly: true
        - name: operator
          # Replace this with the built image name
          image: {{ IMAGE_REGISTRY }}/{{ IMAGE }}:{{ IMAGE_TAG }}
          #imagePullPolicy: "Always"
          volumeMounts:
          - mountPath: /tmp/ansible-operator/runner
            name: runner
          - mountPath: /tmp/ansible-operator/
            name: artifactory-secret
            readOnly: true
          env:
            - name: ARTIFACTORY_BASE_DNS
              value: {{ ARTIFACTORY_BASE_DNS }}
            - name: ARTIFACTORY_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: WATCH_NAMESPACE
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: {{ DEPLOY_NAME }}
      volumes:
        - name: runner
          emptyDir: {}
        - name: artifactory-secret
          secret:
            secretName: {{ secretName }}