apiVersion: v1
kind: Secret
metadata:
    labels:
        app: artifactory-ha
        app.kubernetes.io/component: app
        app.kubernetes.io/name: artifactory
    name: artifactory-ha-admin
    namespace: {{ project_name }}
stringData:
    password: {{ artifactory_password }}
