apiVersion: v1
kind: Secret
metadata:
    labels:
        app: patroni-001
        cluster-name: patroni-001
    name: patroni-001
    namespace: {{ project_name }}
stringData:
    replication-username: replication
    replication-password: {{ patroni_replication_password }}
    superuser-username: postgres
    superuser-password: {{ patroni_superuser_password }}
    app-db-name: {{ db_name }}
    app-db-username: {{ db_name }}
    app-db-password: {{ db_password }}
    db-url: "jdbc:postgresql://patroni-master-001:5432/artifactory"




