
        <article>
            <div class='wraper'>
                <h1>Why am I here?</h1>
                <div>
                    <p>Sorry for the inconvenience! The service you are accessing is currently undergoing maintenance. Please refer to the <a href="https://status.developer.gov.bc.ca/">status page</a> for details.</p>
                    <p>If you are looking for Realm-O-Matic, please note that it's been migrated to https://realm-o-matic.developer.gov.bc.ca/ !</p>
                    <p class="stay_right">&mdash; BCGov Platform Services Team</p>
                </div>
             </div>
        </article>
