{
  "key": "{{ team_name }}-{{ repository_type }}-{{ repository_locator }}",
  "rclass": "local",
  "packageType": "{{ repository_type }}",
  "repoLayoutRef": "{{ dict_repo_layout[repository_type] }}",
  "description": "{{ repository_description }}"
}