apiVersion: v1
kind: ClusterRoleBinding
metadata:
  name: artifactory-object-admin
roleRef:
  name: artifactory-object-admin
subjects:
- kind: ServiceAccount
  name: bcdevops-admin
  namespace: openshift
userNames:
- system:serviceaccount:openshift:bcdevops-admin
groupNames: null
