---
apiVersion: security.developer.gov.bc.ca/v1alpha1
kind: NetworkSecurityPolicy
metadata:
  name: egress-internet
spec:
  description: "allow {{ project_name }} namespace to talk to the internet."
  source:
    - - $namespace={{ project_name }}
  destination:
    - - ext:network=any
---
apiVersion: security.developer.gov.bc.ca/v1alpha1
kind: NetworkSecurityPolicy
metadata:
  name: intra-namespace-comms
spec:
  description: "allow {{ project_name }} namespace to talk to itself"
  source:
    - - $namespace={{ project_name }}
  destination:
    - - $namespace={{ project_name }}
---
apiVersion: security.developer.gov.bc.ca/v1alpha1
kind: NetworkSecurityPolicy
metadata:
  name: int-cluster-k8s-api-comms
spec:
  description: "allow {{ project_name }} pods to talk to the k8s api"
  destination:
  - - int:network=internal-cluster-api-endpoint
  source:
  - - $namespace={{ project_name }}
