security:
  hideUnauthorizedResources: true
  oauthSettings:
    persistUsers: true
    allowUserToAccessProfile: true
    enableIntegration: true
    oauthProvidersSettings:
      devhub-sso:
        id: {{ sso_id }}
        enabled: true
        apiUrl: "https://oidc.gov.bc.ca/auth/realms/devhub/protocol/openid-connect/userinfo"
        authUrl: "https://oidc.gov.bc.ca/auth/realms/devhub/protocol/openid-connect/auth"
        basicUrl: "https://oidc.gov.bc.ca/"
        providerType: openId
        secret: {{ sso_secret }}
        tokenUrl: "https://oidc.gov.bc.ca/auth/realms/devhub/protocol/openid-connect/token"
